<div class='pokemon_form'>
<% nested_form_for(@pokemon) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :type_id %>
<% f.fields_for :type_id do |type1| %>
<% end %>
<%= f.label :classification %>
<%= f.text_field :classification %>
<%= f.label :character %>
<%= f.text_field :character %>
<%= f.label :height %>
<%= f.number_field :height %>
<%= f.label :weight %>
<%= f.number_field :weight %>
<% f.fields_for :sex_id do || %>
<%= end%>
<%= f.label :detail %>
<%= f.text_area :detail %>
<%end%>
</div>